<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1><%= @achievement.name %></h1>
    <h3><%= @achievement.experience_points %></h3>
    <h5><%= @achievement.description %></h3>
  </body>
</html>

